<ul class="clearfix" #router>
  <li>
    <a class="routerBtn" #recommendBtn [routerLink]="['/recommend']" [queryParams]="{route: 'recommend'}" routerLinkActive="active">推荐</a>
  </li>
  <li>
    <a class="routerBtn" [routerLink]="['/classify']" routerLinkActive="active">分类</a>
  </li>
  <li>
    <a class="routerBtn" [routerLink]="['/rankingList']" routerLinkActive="active">排行</a>
  </li>
  <li>
    <a class="routerBtn" [routerLink]="['/search']" routerLinkActive="active">搜索</a>
  </li>
</ul>
<router-outlet></router-outlet>
