<app-app-list-three [appList]="appList"></app-app-list-three>

<div *ngIf="!footerFlag">

  <ul>
    <li *ngFor="let app of anotherAppList">
      <app-app-three-one [app]="app"></app-app-three-one>
    </li>
  </ul>

  <div class="footer">
    <div class="argument">
      <a class="footer-a" href="#">华为应用市场用户协议</a>
      <span>和</span>
      <a class="footer-a" href="#">关于华为应用市场与隐私的声明</a>
    </div>
    <p>苏ICP备17040376号 | 苏网文 [2018] 6607-116号 </p>
    <p>增值电信业务经营许可证：苏B2-20130048号 </p>
    <p>中国反网络病毒联盟应用商店自律组</p>
    <p>违法和不良信息举报电话:950800</p>
    <p>华为应用市场 版权所有 © 2010-2019</p>
  </div>
</div>