.top
  position relative
  height 34px
  h3
    position: absolute
    left 16px
    bottom 0
  .more
    position: absolute
    height 20px
    right 16px
    bottom 0
    font-size 13px
    color rgba(0, 0, 0, .5)
    span
      vertical-align: middle
    .iconfont
      font-size 20px
.middle
  height 123px
.line
  margin: 0 16px
  height 16px
  border-bottom 1px solid rgba(0, 0, 0, 0.1)