.search-wrapper
  display flex
  height 44px
  width 100%
  input
    flex 1
    margin 6px 0 6px 16px
    padding 0 8px 0 12px
    height 32px
    font-size 13px
    background-color #efefef
    border 1px solid rgba(1, 1, 1, 0)
    border-radius: 16px
  .iconfont
    flex 0 18px 18px
    margin 12px 16px 0 10px
    font-size 22px
    color rgba(0, 0, 0, .3)
    font-weight: 900
.appList
  .list
    margin 10px 16px 6px
    .title
      margin-bottom 8px
    .adList
        white-space: nowrap
        overflow hidden
      .ad-wrapper
        display inline-block
        margin 0 8px
        height 72px
        width 69px
        text-align: center
        img
          height 50px
          width 50px
        p
          margin-top 8px
          max-width: 72px
          white-space: nowrap
          overflow hidden
          text-overflow: ellipsis
          font-size 11px
          line-height 11px
