.appOne
  width 100%
  overflow hidden
  ul
    white-space: nowrap
    li
      display inline-block
      margin 8px 0 0 16px
      height 115px
      width 64px
      font-size 0
      vertical-align: top
      .img
        height 64px
        width 64px
      .name
        margin-top 6px
        font-size 12px
        width 64px
        max-height 30px
        line-height: 15px
        overflow hidden
        text-overflow: ellipsis
        white-space: normal
      .downDesc
        font-size 12px
        line-height: 12px
        opacity .5
