/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'iconfont';
  src: url('assets/fonts/iconfont.eot');
  src: url('assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/iconfont.woff2') format('woff2'),
      url('assets/fonts/iconfont.woff') format('woff'),
      url('assets/fonts/iconfont.ttf') format('truetype'),
      url('assets/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,aside,b,body,dd,del,dfn,div,dl,dt,em,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,li,nav,object,ol,p,q,samp,section,small,span,strong,table,tbody,td,tfoot,th,thead,tr,ul
    margin: 0
    padding: 0
    outline: none
    vertical-align: baseline

a,article,aside,b,body,button,dd,div,dl,dt,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,i,input,li,nav,p,section,select,span,textarea,ul
  padding: 0
  margin: 0
  list-style: none
  font-style: normal
  text-decoration: none
  border: none
  box-sizing: border-box
  font-family: Microsoft Yahei,sans-serif
  -webkit-tap-highlight-color: transparent
  -webkit-font-smoothing: antialiased

a:focus,article:focus,aside:focus,b:focus,body:focus,button:focus,dd:focus,div:focus,dl:focus,dt:focus,figcaption:focus,figure:focus,footer:focus,h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,h6:focus,header:focus,i:focus,input:focus,li:focus,nav:focus,p:focus,section:focus,select:focus,span:focus,textarea:focus,ul:focus
  outline: none

body
  height: 100%
  width: 100%
  -webkit-text-size-adjust: 100%
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  word-wrap: break-word
  line-height: 1.3
  -webkit-tap-highlight-color: transparent
  font-family: Roboto,Droid Sans,Droid Sans Fallback,STHeiti,SimHei,Hei
  font-size: 13px
  color: #000

h1,h2,h3,h4,h5,h6
  font-weight: 400
  font-size: 100%

img
  border: 0
  max-width: 100%

table
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  table-layout: fixed

ul
    list-style: none

textarea
  resize: none

b
  font-weight: 400

em
  font-style: normal

a
  text-decoration: none

input[type=text]:focus,textarea:focus
  outline: 0

.clearfix:before
  content: ""
  display: table
  width: 0
  height: 0
  overflow: hidden

.clearfix:after
  content: ""
  display: block
  clear: both
  height: 0
  visibility: hidden

.clearfix
  zoom:1
