.title-wrapper
  display flex
  height 34px
  background-color rgba(0, 0, 0, .03)
  .name
    flex 1
    margin 10px 16px 4px
    height 20px
    line-height: 20px
    color #555
  .more-desc
    flex 0 66px 66px
    width 66px
    height 34px
    p
      display inline-block
      margin-top 12px
      color rgba(0, 0, 0, .5)
    span.iconfont
      display: inline-block
      vertical-align: -1px
      font-size 20px
      font-weight: bold
      color rgba(0, 0, 0, .3)
