.app-wrapper
  display flex
  height 56px
  .img-wrapper
    flex 0 72px 72px
    height 56px
    width 72px
    text-align: center
    .img
      height 40px
      width 40px
      margin-top 8px
  .desc
    flex 1
    margin-right 10px
    height 56px
    line-height 56px
    border-bottom 1px solid rgba(0, 0, 0, .1)
    .name
      float left
      font-size 15px
    .iconfont
      float right
      font-size 30px
      font-weight bold
      color rgba(0, 0, 0, .3)
