.app-wrapper
  display flex
  height 97px
  width 100%
  .img-wrapper
    flex 0 100px 100px
    width 100px
    height 97px
    .img
      margin-top 16px
      margin-left 16px
      height 64px
      width 64px
  .desc
    flex 1
    margin 20px 16px 0 0
    height 77px
    border-bottom: 1px solid rgba(0, 0, 0, .1)
    overflow hidden
    .installBtn
      display: block
      float right
      padding 0 12px
      width 60px
      height 26px
      line-height 24px
      text-align: center
      font-size 12px
      color #005bba
      background-color rgba(0, 0, 0, .05)
      border-radius: 6px
    .name
      margin-bottom 6px
      font-size 15px
    .size, .text
      font-size 13px
      color rgba(0, 0, 0, .5)
    .text
      white-space: nowrap
      overflow hidden
      text-overflow: ellipsis
    
