:host
  display block
  margin-top 48px
  .title
    box-sizing: border-box
    padding 10px 16px 4px
    height 34px
    background-color rgba(0, 0, 0, .03)
    h2
      height 20px
      line-height 20px
      color rgba(0, 0, 0, .75)
  .footer
    height 86px
    width 100%
    margin 24px 0 16px 0
    text-align: center
    .argument
      font-size 11px
      line-height: 14px
      .footer-a
        display inline-block
        color #007dff
        margin-bottom 2px
      span
        margin 0 4px
    p
      font-size 11px
      line-height: 14px
      color rgba(0, 0, 0, .5)