.subject-wrapper
  // height 115px
  padding 16px 0
  margin 0 16px
  border-bottom 1px solid rgba(0, 0, 0, .1)
  font-size 0
  .img
    width 49%
    &:nth-child(1)
      float left
    &:nth-child(2)
      float right
